<div class="center hero-unit">
    <table border="0" cellpadding="5px" name="kitchen_table">
      <tr>
	<td>
	  <%= image_tag("baths_page/roma_pos_1.jpg", alt: "No image") %>
	</td>
	<td>
	  <%= image_tag("baths_page/general_bath_caption.jpg", alt: "No image") %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= image_tag("baths_page/roma_pos_2.jpg", alt: "No image") %>
	</td>
	<td>
	  <%= image_tag("baths_page/general_bath_caption.jpg", alt: "No image") %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= image_tag("baths_page/sharma_pos_3.jpg", alt: "No image") %>
	</td>
	<td>
	  <%= image_tag("baths_page/general_bath_caption.jpg", alt: "No image") %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= image_tag("baths_page/spiegel_pos_4.jpg", alt: "No image") %>
	</td>
      	<td>
	  <%= image_tag("baths_page/general_bath_caption.jpg", alt: "No image") %>
	</td>
      </tr>
    </table>
