<div class="center hero-unit">
    <table border="0" cellpadding="5px" name="projects_table">
      <tr>
	<td>
	  <%= image_tag("projects_page/martin_pos_1.jpg", alt: "No image") %>
	</td>
	<td>
	  <%= image_tag("projects_page/caplan_pos_2.jpg", alt: "No image") %>
	</td>
	<td>
	  <%= image_tag("projects_page/caplan_pos_3.jpg", alt: "No image") %>
	</td>
	<td>
	  <%= image_tag("projects_page/rio_pos_4.jpg", alt: "No image") %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= image_tag("projects_page/general_project_caption.jpg", alt: "No image") %>
	</td>
	<td>
	  <%= image_tag("projects_page/general_project_caption.jpg", alt: "No image") %>
	</td>
	<td>
	  <%= image_tag("projects_page/general_project_caption.jpg", alt: "No image") %>
	</td>
      	<td>
	  <%= image_tag("projects_page/general_project_caption.jpg", alt: "No image") %>
	</td>
      </tr>
    </table>
