<!--<header class="navbar navbar-fixed-top navbar-inverse">-->
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <table border ="0">
	  <!--<td><%= link_to image_tag("studioOneTrimmed.jpg", alt: "Rails"), 'http://localhost:3000/static_pages/home/' %></td>-->
	  <tr>
	    <td rowspan="1">
	      <%= image_tag("studioOneTrimmed.jpg", alt: "Rails") %>
	    </td>
	    <td>
	      <nav>
		<ul class="nav pull-right">
		  <li><%= link_to "Home",    '#' %></li>
		  <li><%= link_to "About Studio One",'#' %></li>
		  <li><%= link_to "Specialty Products", '#' %></li>
		  <li><%= link_to "Contact", '#' %></li>
		</ul>
	      </nav>
	    </td>
	  </tr>
	  <tr>
	    <td >
	       <p>&nbsp;&nbsp;Specializing in Kitchens, Baths, and Stylish Living Spaces.</p>
	    </td>
	  </tr>
      </table>
    </div>
  </div>
</header>
